<img src="images/triangle.png"  class="triangle_img {{data.tr_class}} " ng-click="folder_inside(data)", ng-show="data.name[0]!='.' || show_hidden" style="margin-left:{{12*(data.index.length-1)}}px;"/>
<img src="images/folder_icon.png" class="folder_img" ng-click="folder_inside(data)" ng-show="data.name[0]!='.' || show_hidden"/>
<div class="lable folder_lable {{data.active}}" style="padding: 2px 0px;" ng-show="data.name[0]!='.' || show_hidden">
	<lable>{{data.name}}</lable>
</div>
<div class="clear", ng-show="data.name[0]!='.' || show_hidden"></div>
<div class="{{data.id_class}}" style="display:none;" ng-show="data.name[0]!='.' || show_hidden">
	<div ng-repeat="data in data.folders" ng-include="'tmpl/tree_folders.html'"></div>
	
<!---------- Files template ------------->
	<div ng-repeat="file in data.files" style="padding-left:{{13*data.index.length}}px;" class="{{file.active}}" ng-show="file.name[0]!='.' || show_hidden" ng-click="mark_blue(file)">
		<div class="lable folder_lable">
			<img src="images/phpfile-icon.png" class="file_img" ng-click=edit_file(file) />
			<div class="lable" class="folder_lable" ng-controller="EditorController">
				<lable ng-click=edit_file(file)>{{file.name}}</lable>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
	