<img src="images/triangle.png"  class="triangle_img {{data.tr_class}}" ng-click="folder_inside({{data.index}}, '{{data.path}}{{data.name}}')" />
<img src="images/folder_icon.png" class="folder_img" ng-click="folder_inside({{data.index}}, '{{data.path}}{{data.name}}')" /> 
	<div class="lable" class="folder_lable">
		<lable>{{data.name}}</lable>
	</div>
	<div class="clear"></div>
	<div class="{{data.id_class}}" style="display:none;">
		<div ng-repeat="data in data.folders" ng-include="'tmpl/tree_folders.html'" style="margin-left:12px;"></div>
		
	<!---------- Files template ------------->
		<div ng-repeat="file in data.files" style="margin-left:12px;">
			<div class="lable" class="folder_lable">
				<img src="images/phpfile-icon.png" class="file_img" />
				<div class="lable" class="folder_lable">
					<lable>{{file}}</lable>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	