extends layout

block content



	div(class="menu_rec")
		div(class="menu_text")
			|File
	div(style="width:100%; display:block;height:90%;", ng-controller="WindowsController")
		div(ng-controller="testController", ng-Mousedown="resizeDiv($event);", ng-Mouseup="resizeDivFinish();", class="files_rec", style="width:{{left.width+2 || 200+4}}px;")
			div(class="w-space")
				|Workspace Files
				button(ng-show="button = buttons.hide_files", class="button", title="{{button.title}}", ng-click="button.click()	")
					| {{button.name}}
			div(class="wrap_files")
				div(ng-repeat="data in files_tree.folders", ng-include="'tmpl/tree_folders.html'") 
					
			div(ng-repeat="file in files_tree.files", ng-include="'tmpl/tree_files.html'")
					
				
		div(ng-Mousedown="resizeDiv($event);", ng-Mouseup="resizeDivFinish();", class="code_rec", style="margin-left:{{left.width || 100+4}}px;")
			|#{title}
	div(style="clear:both; padding-top:10px;")
	div(ng-bind-html="trustedHtml['s']")

	hr
	|Debug View:
	pre
		|user={{files_tree | json}}

